/* 首页轮播图部分 */
.xtx-nav {
    height: 500px;
    background-color: #f5f5f5;
}

.xtx-nav .ppic {
    position: relative;
    height: 500px;
}

.ppic .banner img {
    width: 1240px;
    height: 500px;
}

.ppic .banner li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* 这里实现淡入淡出的关键 */
    transition: all .3s;
}
/*、添加显示图片类名*/
.banner li.active {
    opacity: 1;
} 


/*.xtx-nav .ppic::before,
.xtx-nav .ppic::after {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: url(../images/sprites.png) no-repeat rgba(0, 0, 0, .4) ;
}
.xtx-nav .ppic::before {
    left: 280px;
    background-position: 15px -57px;
}
.xtx-nav .ppic::after {
    right: 30px;   
    background-position: -20px -57px;
}*/
/* 图片左右按钮切换 */
.xtx-nav .ppic .prev,
.xtx-nav .ppic .next {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: url(../images/sprites.png) no-repeat rgba(0, 0, 0, .4);
}

.xtx-nav .ppic .prev {
    left: 280px;
    background-position: 15px -58px;
}

.xtx-nav .ppic .next {
    right: 30px;
    background-position: -22px -58px;
}

/* 图片下方点定位切换 */
.xtx-nav .bbut {
    position: absolute;
    bottom: 30px;
    right: 495px;
    transform: translateX(50%);
    /* border-radius: 12px; */
    /* background-color: rgba(0, 0, 0, .1); */
}

.xtx-nav .bbut li {
    float: left;
    width: 14px;
    height: 14px;
    margin: 6px;
    background-color: #fff;
    border-radius: 50%;
}

.xtx-nav .bbut a {
    float: left;
    /* display: block; */
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    border-radius: 50%;
}

.xtx-nav .bbut li.selected {
    background-color: #999;
}

/* 左侧分类导航部分 */
.xtx-nav .container {
    position: relative;
}

.xtx-nav .left-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, .8);
    ;
}

.left-nav .sort li {
    position: relative;
    /* text-align: center; */
    height: 50px;
    line-height: 50px;
    padding-left: 35px;
    font-size: 16px;
    color: #fff;
    transition: all .5s;
}

.left-nav .sort a {
    margin-left: 5px;
    font-size: 14px;
    color: #fff;
}

.left-nav .sort li::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: url(../images/sprites.png) no-repeat -80px -110px;
}

.left-nav .sort li:hover {
    background-color: #27ba9b;
    padding-left: 40px;
}

/* 商品部分 */
/* 标题部分 */
.xtx-goods .ghead {
    position: relative;
    /* float: left; */
    height: 115px;
    line-height: 115px;
    /* background-color: #000; */
}

.xtx-goods .ghead h3 {
    float: left;
    height: 115px;
    font-size: 32px;
    font-weight: 400;
}

.xtx-goods h3 span {
    /* float: left;  */
    margin-left: 20px;
    font-size: 16px;
    color: #999;
}

.xtx-goods .ghead .all {
    float: right;
    /* display: inline-block; */
    margin-right: 10px;
    height: 0px;
    /* line-height: 20px; */
    font-size: 16px;
    color: #999;
}

.xtx-goods .ghead .all:hover {
    color: #27ba9b;
}

.rt-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 商品图部分 */
.gbody ul li {
    float: left;
    width: 306px;
    height: 406px;
    margin-right: 5.3px;
    text-align: center;
    background-color: #f0f9f4;
    transition: all .5s;
}

.gbody ul li:last-child {
    margin-right: 0;
}

.gbody ul li img {
    width: 100%;
    height: 306px;
}

.gbody .title {
    font-size: 22px;
    font-weight: 400;
    padding: 12px 30px 0;
    /* 指定行数显示，溢出部分省略号代替 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.gbody .price {
    padding: 12px 30px 0;
    font-size: 22px;
    color: #CF4444;
}

.gbody ul li:hover {
    /* margin-top: -3px; */
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

/* 人气推荐部分 */
.gbody .pc1 {
    font-size: 18px;
    color: #999;
}

.gbody ul .li1 {
    background-color: #fff;
}

/* 热门品牌部分 */
.hotpan {
    height: 460px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

.hotpan .hothead {
    height: 115px;
    line-height: 115px;
}

.hotpan .hothead h3 {
    float: left;
    height: 115px;
    font-size: 32px;
    font-weight: 400;
}

.hotpan .hothead span {
    margin-left: 20px;
    font-size: 16px;
    color: #999;
}

.hotpan .lrb {
    float: right;
    margin-right: 0px;
}

.hothead .ltb,
.hothead .rtb {
    /* float: right; */
    /* display: block; */
    /* width: 20px; */
    /* height: 20px; */
    padding: 3px;
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ccc;
}

.hotpan .ltb {
    margin-right: 5px;
}

.hotpan .lrb .selected {
    background-color: #27ba9b;
}

/* 品牌图片部分 */
.hotpan .hotbody li {
    float: left;
    width: 240px;
    height: 305px;
    margin-right: 10px;
}

.hotpan .hotbody li:last-child {
    margin-right: 0px;
}

.hotbody li img {
    width: 100%;
    height: 100%;
}

/* 品类模块头部 */
.xtx-kinds .khead {
    text-align: right;
    height: 115px;
    /* line-height: 115px; */
    padding: 40px 0;
}

.khead h3 {
    float: left;
    line-height: 100%;
    font-size: 32px;
    font-weight: 400;
    color: #333;
}

.khead .all {
    float: right;
    /* line-height: 100%; */
    color: #999;
}

.khead .all:hover {
    color: #27ba9b;
}

.khead .skinds {
    /* float: left; */
    color: #333;
    font-size: 16px;
    margin-right: 80px;
}

.khead .skinds a {
    padding: 2px 10px;
    border-radius: 5px;
}

.khead .skinds a:hover {
    color: #fff;
    background-color: #27ba9b;
}

/* 品类模块body部分 */
.kbody .left-img {
    position: relative;
    float: left;
    width: 240px;
    height: 610px;
}

.kbody .left-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.kbody .left-img .cover-p {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 188px;
    height: 66px;
    line-height: 66px;
}

.left-img .cover-p p {
    float: left;
    font-size: 18px;
    color: #fff;
}

.left-img .cover-p p:nth-child(1) {
    padding: 0 10px;
    background-color: #000000e6;
}

.left-img .cover-p p:nth-child(2) {
    padding: 0 10px;
    background-color: #000000b3;
}

.kbody .goods-ls ul {
    float: left;
    width: 1000px;
}

.kbody .goods-ls li {
    position: relative;
    overflow: hidden;
    float: left;
    width: 240px;
    height: 300px;
    padding: 10px 30px;
    margin-left: 10px;
    /* text-align: center; */
    border: 1px solid transparent;
}

.kbody .goods-ls li:hover {
    border: 1px solid #27ba9b;
}

.goods-ls li img {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

.goods-ls li .gs-tit {
    margin-top: 6px;
}

.goods-ls li .gs-info {
    margin-top: 6px;
    color: #666;
    /* 指定行数显示，溢出部分省略号代替 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.goods-ls li .gs-pri {
    margin-top: 6px;
    font-size: 20px;
    color: #cf4444;
}

/* 找相似 */
.goods-ls .lklk {
    position: absolute;
    bottom: 0;
    /* bottom: -86px; */
    left: 0;
    transform: translateY(100%);
    width: 238px;
    height: 86px;
    padding: 0 55px;
    text-align: center;
    background-color: #27ba9b;
    transition: all .5s;
}

.kbody .goods-ls li:hover .lklk {
    transform: translateY(0);
    /* bottom: 0; */
}

.goods-ls .lklk .sim,
.goods-ls .lklk .more {
    height: 42px;
    line-height: 42px;
}

.goods-ls .lklk .more {
    border-top: 1px solid #fff;
}

.lklk .sim a {
    font-size: 18px;
    color: #fff;
}

.lklk .more a {
    font-size: 14px;
    color: #fff;
}

.goods-ls .lklk a:hover {
    color: #333;
}

/* 最新专题部分 */
.new-part {
    background-color: #f5f5f5;
    height: 515px;
}

.new-body .new-goods li {
    position: relative;
    float: left;
    width: 404px;
    height: 360px;
    margin-right: 13px;
    background-color: #fff;
    transition: all .3s;
}

.new-goods li:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 10px #999;
}

.new-goods li img {
    object-fit: cover;
    width: 404px;
    height: 288px;
}

.new-goods .new-info {
    position: absolute;
    float: left;
    bottom: 72px;
    left: 0;
    padding: 0 16px;
    /* height: 70px; */
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.new-goods .new-info .new-text {
    float: left;
    height: 70px;
    width: 282px;
}

.new-goods .new-info .new-price {
    float: right;
    padding: 1px 5px;
    margin-top: 22px;
    font-size: 17px;
    color: #CF4444;
    border-radius: 5px;
    background-color: #fff;
}

.new-goods .new-text .tit {
    font-size: 22px;
    /* 指定行数显示，溢出部分省略号代替 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.new-goods .new-text .dis {
    font-size: 19px;
    color: #999;
}

.new-body .new-goods .gs-footer {
    height: 72px;
    line-height: 72px;
    padding: 0 20px;
}

.new-goods .gs-footer span {
    float: left;
    margin-right: 25px;
}

.new-goods .gs-footer .like::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../images/sprites.png) no-repeat -120px -110px;
}

.new-goods .gs-footer .look::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../images/sprites.png) no-repeat -160px -110px;
}

.new-goods .gs-footer .talk::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../images/sprites.png) no-repeat -200px -110px;
}

.new-goods .gs-footer span:last-child {
    float: right;
    margin-right: 0px;
}

.new-body .new-goods li:nth-child(3n) {
    margin-right: 0px;
}