/* 公共的头部和底部样式 */
/* 版心 */
.container {
    width: 1240px;
    margin: 0 auto;
}

/* 头部模块 */
.xtx-shortcut {
    height: 52px;
    background-color: #333;
    line-height: 52px;
}
/* 头部导航栏 */
.xtx-shortcut ul {
    float: right;
}
.xtx-shortcut li {
    float: left;
}
/* 导航栏链接 */
.xtx-shortcut li a {
    color: #dcdcdc;
    /* border-right: 1px solid #dcdcdc; */
}
.xtx-shortcut li a:hover {
    color: #fff;
}
/* 导航栏小竖线 */
.sep {
    margin: 0 15px;
    color: #666666;
}
/* 手机版小图标 */
.xtx-shortcut li a i {
    display: inline-block;
    vertical-align: middle;
    /* 通过margin微调图标 */
    margin-top: -1.6px;
    margin-right: 6px;
    width: 11px;
    height: 16px;
    /* 精灵图的运用 */
    background: url(../images/sprites.png) no-repeat -160px -70px;
}
/* nav部分主体 */
.xtx-main-nav {
    height: 130px;
    padding: 30px 0;
    /* line-height: 130px; */
    background-color: pink;
}
/* logo部分 */
.xtx-logo {
    float: left;
    width: 207px;
    height: 70px;
    
}
.xtx-logo h1 {
    width: 100%;
    height: 100%;
}
.xtx-logo a {
    display: block;
    /* 隐藏logo文字：溢出隐藏，font-size： 0；，height： 0； */
    overflow: hidden;
    text-indent: -9999em;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat 0 0/cover;
    /* background-size: 100%; */
}
/* 商品导航栏部分 */
.shop-nav {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
.shop-nav ul li {
    float: left;
    margin: 0 20px;
}
.shop-nav li a {
    display: block;
    height: 32px;
    line-height: 32px;
}
.shop-nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}
/* 搜索模块 */
.xtx-search {
    position: relative;
    float: left;
    height: 70px;
    line-height: 70px;
}
.xtx-search input {
    width: 172px;
    height: 38px;
    margin-left: 20px;
    padding-left: 30px;
    border-radius: 8px;
    border-bottom: 2px solid #e7e7e7e7;
}
/* 伪元素修改搜索框文本样式 */
.xtx-search input::placeholder {
    color: #ccc;
}
/* 放大镜图片精灵图 */
.xtx-search a {
    position: absolute;
    top: 27px;
    left: 25px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/sprites.png) no-repeat -80px -70px;
}
/* 伪元素设置放大镜精灵图位置 */
/* .xtx-search::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 25px;
    width: 18px;
    height: 18px;
    background: url(../images/sprites.png) no-repeat -80px -70px;
} */
/* 购物车图标 */
.shopcar {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: 25px;
    margin-left: 20px;
    /* background-color: #27ba9b; */
}
.shopcar a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/sprites.png) no-repeat -120px -70px;
}
/* 购物车小角标数字 */
.shopcar span {
    position: absolute;
    top: -8px;
    left: 18px;
    height: 15px;
    line-height: 15px;
    padding: 0 5px;
    font-size: 13px;
    background-color: #e26237;
    border-radius: 7px;
}