<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>风起网</title>
    <link rel="stylesheet" href="/project1/admin/lib/css/bootstrap.min.css">
    <script src="/project1/admin/lib/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/project1/admin/views/home/index.css">
</head>

<body>
    <!-- 登录后的管理首页 -->
    <div class="main">
        <!-- 顶部导航栏 -->
        <div class="topbar">
            <!-- 通过LoadView.js引入components组件加载顶部导航 -->
        </div>
        <!-- 内容盒子 -->
        <div class="box">
            <!-- 内容 -->
            <!-- fluid清除间距 -->
            <div class="container-fluid">
                <div class="row">
                    <!-- 侧边栏菜单bootstrap栅格布局12等份 -->
                    <div class="col-2 sidemenu">

                    </div>
                    <!-- 主体内容展示 -->
                    <div class="col-10 main-content">
                        <div class="maincontent">
                            <!-- 面包屑 -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" aria-current="page">新闻管理</li>
                                    <li class="breadcrumb-item active" aria-current="page">新闻列表</li>
                                </ol>
                            </nav>

                            <!-- 用户列表样式 -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">标题</th>
                                        <th scope="col">分类</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="bodylist">
                                    <!-- <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr> -->

                                </tbody>
                            </table>



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- 删除列表用户弹出模态框 -->
    <!-- Modal -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title">提示</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="content">
                    你确认删除该用户？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="btnSure">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入js文件加载topbar部分的内容 -->
    <script src="index.js" type="module"></script>

</body>

</html>