<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>风起网</title>
    <link rel="stylesheet" href="/project1/web/lib/css/bootstrap.min.css">
    <script src="/project1/web/lib/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-- 登录后的管理首页 -->
    <div class="main">
        <!-- 顶部导航栏 -->
        <div class="topbar">
            <!-- 通过LoadView.js引入components组件加载顶部导航 -->
        </div>
        <!-- 内容盒子 -->
        <div class="box">
            <!-- 内容 -->
            
            <div id="carouselExampleCaptions" class="carousel slide">
                <!-- 指示器 -->
                <div class="carousel-indicators">
                  <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
                </div>
                <!-- 轮播内容 -->
                <div class="carousel-inner">
                  
                </div>
                <!-- 左右按钮 -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>
    
    <!-- 引入js文件加载topbar部分的内容 -->
    <script src="index.js" type="module"></script>

</body>

</html>